<section class="page-404">
    <div class="container">
        <img src="../../assets/img/blue-circle.svg" alt="blue-circle" class="page-404__blue-circle" />
        <img src="../../assets/img/orange-circle.svg" alt="orange-circle" class="page-404__orange-circle" />

        <img src="../../assets/img/green-area.svg" alt="green-area" class="page-404__green-circle" />
        <img src="../../assets/img/violet-circle.svg" alt="violet-circle" class="page-404__violet-circle" />
        <div class="wrapper">
            <img src="../../assets/img/red-circle.svg" alt="red-circle" class="page-404__red-circle" />
            <h2 class="page-404__number">404</h2>
            <h3 class="page-404__title">This Page Not Found</h3>
            <p class="page-404__desc">Oops! The page you are looking for does not exist. It might have been moved or
                deleted.</p>
            <div class="page-404__button">
                <button class="button__text" routerLink="/app/pages/1">BACK TO HOME</button>
            </div>
        </div>

    </div>
</section>