<section class="register">
    <div class="register-wrapper">
        <form class="register-form">
            <h1>Get Started</h1>
            <p>Already have an Account? <a class="register-form__link" routerLink="/auth">Log in</a></p>
            <div class="register-form__group">
                <label class="register-form__label" for="name">Name</label>
                <input class="register-form__input" type="text" id="name">
            </div>
            <div class="register-form__group">
                <label class="register-form__label" for="email">Email</label>
                <input class="register-form__input" type="text" id="email">
            </div>
            <div class="register-form__group">
                <label class="register-form__label" for="password">Password</label>
                <input class="register-form__input" type="password" id="password">
            </div>
            <button class="register-form__button">Sign Up</button>
        </form>
    </div>
</section>
