@font-face {
    font-family: "Segoe UI";
    font-weight: normal;
    src: url("/src/assets/fonts/SegoeUI.ttf");
  }
  
  @font-face {
    font-family: "Segoe UI";
    font-weight: bold;
    src: url("/src/assets/fonts/SegoeUI-Bold.ttf");
  }
  
  @font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: url("/src/assets/fonts/SegoeUI-SemiBold.ttf");
  }

* {
    list-style: none;
    text-transform: none;
    text-decoration: none;
    body {
      height: 100%;
      margin: 0;
      overflow-x: hidden;
      font-family: 'Segoe UI', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }



