.page {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

  }
  
  .page-img {
    width: 238px;
    height: 216px;
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
  }
  
  .width-500 {
    width: 500px;
  }